#list {
    display: flex;
    width: 128px;
    height: 64px;
}

#list img {
    margin: 12px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    transition: 0.2s;
    backface-visibility: hidden;
}

#list img:hover {
    transform: scale(1.6);
    backface-visibility: hidden;

}

img[data-growing="false"] {
    filter: grayscale(100%);
}

img[data-growing="true"] {
    filter: grayscale(0);
}